.header{
    background-color: black;
    color: white;
}
h1{
    display: inline;
}
.search{
    text-align: center;
}
a{
    color: white;
    text-decoration: dotted;
}
.headerimage{
    width: 100%;
}
.topdeals{
    color: white;
    background-color: white;
    display: flex;
}
.topper{
    background-color: black;
    border: 2px solid white;
    text-align: center;
    width: 504px;
    height: 370px;
}
.product{
    border: white;
    border-radius: 2px;
}
.excellentdeals{
    display: flex;
    color: white;
}
.gooddeals{
    display: flex;
    color: white;
}
.wrong{
color: red;
}
.pay{
    color: green;
}
.wrong:hover{
    color: white;
    background-color: red;
}
.pay:hover{
    color: white;
    background-color: green;
}
.buynow{
    color: black;
    background-color: goldenrod;
}
.buynow:hover{
    background-color: black;
    color: goldenrod;
}
.buynow:active{
    color: black;
    background-color: gold;
    background-size: 100px;

}
.div{
    color: white;
    background-color: #000000;
}
.end{
    color: white;
    background-color: black;
    border: 3px solid goldenrod;
}
.conditions{
    text-align: center;
}
.quotes{
    color: green
}
.quotes:hover{
    color: red
}